certifi==2022.12.7
chardet==3.0.4
click~=7.1.1
idna==2.9
prompt-toolkit==1.0.14
Pygments==2.6.1
PyInquirer==1.0.3
PyYAML==5.3.1
regex==2020.6.8
requests==2.23.0
roku-scanner==1.0.4
six==1.15.0
tqdm==4.46.1
urllib3==1.25.9
wcwidth==0.2.4
xmltodict==0.12.0
setuptools~=41.2.0